body{
    display: flex;
    background-color: #b3b3b3;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cardContainer{
    width: 400px;
    background-color: white;
    border: 2px solid gray;
    text-align: center;
}

.userAvatarContainer{
    height: 120px;
    width: 120px;
    background-color: blue;
    margin: -50px auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

.userAvatarContainer > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.userInfoContainer{
}

.userInfoContainer > h1{
    margin-bottom: 10px;
    margin-top: 70px;
}

input{
    flex-grow: 0.5;
    padding: 5px;
    margin: 20px;
}

.cardContainer > input{
}

#button{
    width: 200px;
}

.userInfoContainer > hr{
    margin: 10px;
}

.forgotPassword{
    text-decoration: none;
    color: gray;
    margin: 10px;
    box-sizing: border-box;
}